.logoContainer{
    display: none;
}

@media (max-width: 599px) {
    .logoContainer{
        padding: 10px 8px;
        display: block;
        border-bottom: 1px solid #00000013;
        position: fixed;
        top: 0;
        z-index: 999;
        background-color: white;
        width: 100%;
    }

    .dummyDiv{
        height: 55px;
    }

    .logoImage{
        width: 114px;
    }
}