.topContainer{
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 8px 10px;
    display: none;
    box-shadow: 0 0 2px var(--topShadow);
    background-color: var(--primaryColor);
    justify-content: space-between;
}

.topLogo{
    width: 120px;
    filter: var(--logoFilter);
}

.themeContainer{
    cursor: pointer;
    color: var(--activeLink);
}

@media (max-width: 599px){
    .topContainer{
        display: flex;
    }
}